body {
    font-family: sans-serif, Arial;
    margin: 20px;
    color: #333;
    background-color: antiquewhite;
}

#restaurants div {
    background: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input [type = "text"], button {
padding: 10px;
margin-top: 20px;
font-size: 16px;
border: 2px sold #ccc;
border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}